<section class="container-fluid py-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-5 col-xl-5 col-xxl-5 text-white mt-5"data-aos="zoom-in" data-aos-duration="3000">
            <div>
                <h1>Contact Me</h1>
            </div>
            <div class="contact">
                <div class="d-flex gap-3">
                    <span><i class="fa-solid fa-paper-plane"></i></span>
                    <a href="mailto:olawoledotun85@gmail.com">olawoledotun85&#64;gmail.com</a>
                </div>
                <div class="d-flex gap-3">
                    <span><i class="fa-solid fa-square-phone"></i></span>
                    <a href="tel:+2347044056828">07044056828</a>
                </div>
            </div>
            <div class="message">
                <a href="https://wa.me/+2348130649439" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/TimothyOmoOla92 " class="facebook"><span><i class="fa-brands fa-facebook"></i></span></a>
                <a href="https://www.instagram.com/dott.op" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/YourProfileUsername" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://twitter.com/@DotunOlawole77139"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>
        <div class="col-6 col-12 col-md-6 col-lg-5 col-xl-5 col-xxl-5 mt-5" >
            <div class="bg-success text-center mx-auto mb-3 messageMe" data-aos="fade-right" data-aos-duration="2000">
                <img src="/images/remessage.png" alt="" width="80px">
            </div>
            <div class="text-center text-white">
                <h1>Let Collaborate</h1>
            </div>

            <form action="" [formGroup]="userForm" (submit)="contactMe()">
                <div>
                    <input type="text" name="" placeholder="Your name" class="shadow-none border border-secondary outline-none" formControlName="full_name">
                    <span *ngIf="userForm.get('full_name')?.errors?.['required'] && userForm.get('full_name')?.touched" class="text-danger">full name is required</span>
                </div>
                <div class="my-4">
                    <input type="text" name="" placeholder="Your email" class="shadow-none border border-secondary" formControlName="email">
                    <span *ngIf="userForm.get('email')?.errors?.['required'] && userForm.get('email')?.touched" class="text-danger">email name is required</span>
                    <span *ngIf="userForm.get('email')?.errors?.['email'] && userForm.get('email')?.touched" class="text-danger">It must be a valid email</span>
                </div>
                <div>
                    <textarea name="" id="" placeholder="Your message" class="shadow-none border border-secondary" formControlName="message"></textarea>
                    <span *ngIf="userForm.get('message')?.errors?.['required'] && userForm.get('message')?.touched" class="text-danger">message field is required</span>
                </div>
                <div>
                    <button class="btn w-100 mt-3" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
    <div class=" text-center mt-4">
        <a href="#up">
            <i class="fa-solid fa-chevron-up fs-1"></i>
        </a>
    </div>
    <div id="down"></div>
</section>
<div class="text-white copyright py-1 text-center">
    <p class="pt-3">copyright &copy; codithy. My personal website</p>
</div>

<!---core features-->
