<section class="text-white">
    <div class="container" data-aos="flip-left" data-aos-offset=""
    data-aos-easing="ease-in-sine">
        <h1>My Work </h1>
        <h5>Here is my few past project i've worked on</h5>
        <div class="work-list">
            <div class="work" data-aos="fade-right">
                <img src="images/weather2.jpeg" alt="">
                <div class="layout">
                    <h5>weather-app</h5>
                    <p>Get real-time updates on temperature, humidity, wind speed, and the name of the city or the country around the world.
                    </p>
                    <a href="https://weather-app-mu-sable.vercel.app/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work" data-aos="fade-up">
                <img src="images/watch.jpeg" alt="">
                <div class="layout">
                    <h5>Simple Watch</h5>
                    <p>A clean and intuitive digital clock that displays the current time in a clear and easy-to-read format. It  shows the current time in hours, minutes, and seconds and  displays the current date, including day, month, and year.
                    </p>
                    <a href="https://simple-clock-tau.vercel.app/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work" data-aos="fade-left">
                <img src="images/weather.jpeg" alt="">
                <div class="layout">
                    <h5>weather-app</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam consequuntur repellat perferendis? Vel placeat odit accusamus repellat, blanditiis magnam ab?</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <a href="https://github.com/Devdot05?tab=repositories" class="btn mx-auto">See More</a>
        
    </div>
</section>
