<section class="text-white">
    <div class="container" data-aos="flip-left" data-aos-duration="2000"
    data-aos-easing="ease-in-sine">
        <h1>My Work </h1>
        <h5>Here is my few past project i've worked on</h5>
        <div class="work-list">
            <div class="work" data-aos="fade-right" data-aos-duration="2000">
                <img src="https://res.cloudinary.com/dlkytw4he/image/upload/v1753694059/bank-6_fjvmcj.jpg" alt="">
                <div class="layout">
                    <h5>Banking-app</h5>
                    <p>Take control of your finances anytime, anywhere with our powerful and easy-to-use web banking app. Designed with you in mind, it brings all your banking needs into one secure, intuitive platform—right at your fingertips.
                    </p>
                    <a href="https://demot-bank-app-dot.vercel.app"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work" data-aos="fade-up" data-aos-duration="2000">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFTp8k6NJRYVIZpyomZ9guVMqtZdhAav2nOw&s" alt="">
                <div class="layout">
                    <h5>Note-Keeping app</h5>
                    <p>Our intuitive note-taking app is designed to help you capture thoughts, organize tasks, and boost productivity—all in one place. Whether you're brainstorming ideas, jotting down meeting notes, Keepify makes it simple and seamless.
                    </p>
                    <a href="https://keepify-olive.vercel.app"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work" data-aos="fade-left" data-aos-duration="2000">
                <img src="images/todo2.jpeg" alt="">
                <div class="layout">
                    <h5>Task Tracker</h5>
                    <p>A sleek and responsive task management application designed to help you stay focused and organized. Built to streamline task tracking across work, school, and personal life.</p>
                    <a href="https://task-tracker-4t8c.vercel.app/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <a href="https://github.com/Devdot05?tab=repositories" class="btn mx-auto">See More</a>
        
    </div>
</section>
