<section class="text-white">
    <div class="container" data-aos="flip-left" data-aos-duration="2000"
    data-aos-easing="ease-in-sine">
        <h1>My Work </h1>
        <h5>Here is my few past project i've worked on</h5>
        <div class="work-list">
            <div class="work" data-aos="fade-right" data-aos-duration="2000">
                <img src="images/weather3.jpeg" alt="">
                <div class="layout">
                    <h5>weather-app</h5>
                    <p>Get real-time updates on temperature, humidity, wind speed, and the name of the city or the country around the world.
                    </p>
                    <a href="https://weather-app-mu-sable.vercel.app/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work" data-aos="fade-up" data-aos-duration="2000">
                <img src="images/watch3.jpeg" alt="">
                <div class="layout">
                    <h5>Simple Watch</h5>
                    <p>A clean and intuitive digital clock that displays the current time in a clear and easy-to-read format. It  shows the current time in hours, minutes, and seconds and  displays the current date, including day, month, and year.
                    </p>
                    <a href="https://simple-clock-tau.vercel.app/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work" data-aos="fade-left" data-aos-duration="2000">
                <img src="images/todo2.jpeg" alt="">
                <div class="layout">
                    <h5>Task Tracker</h5>
                    <p>A sleek and responsive task management application designed to help you stay focused and organized. Built to streamline task tracking across work, school, and personal life.</p>
                    <a href="https://task-tracker-4t8c.vercel.app/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <a href="https://github.com/Devdot05?tab=repositories" class="btn mx-auto">See More</a>
        
    </div>
</section>
