#about{
    background-color: black;
}

section{
    background-color: black;
}
#work{
    background-color: black;
}

main{
    overflow-x: hidden;
}

/* .nav-link{
    color: white;
}

.nav-link:hover{
    color: rgb(219, 179, 17);
} */
