<section class="posis">
    <section class="container-fluid  bg-image">
        <div class="row " id="scrollspyHeading1" data-aos="fade-up" data-aos-duration="2000">
            <div class="typing-effect" data-aos="fade-left" data-aos-duration="2000">Responsive typing animation!</div>
            <div class="col-12 one" >
                <h1 class="fw-bold">Welcome to my portfolio</h1>
            </div>
            <div class="col-12 bg-danger">
                <h2>Hello 👋 I'm Olawole Dotun</h2>
            </div>
            <div class="col-12 px-3" data-aos="zoom-out" data-aos-duration="2000">
                <p>A passionate and web development professional dedicated to building innovative digital solutions.</p>
            </div>
           
            <div class="text-center tag">
                <a href="https://github.com/Devdot05" class="btn text-white">Github</a>
            </div>
        </div>
    </section>
</section>
